<div class="rock-session-container">
    <h1 class="rock-title">YOU ROCK!</h1>
    <div class="rock-message">
        <p>¡ESTÁS EN ESTOS MOMENTOS EN /API/SESSIONS/CURRENT!</p>
        <p>Eso significa que lo hemos logrado!</p>
    </div>
    <p class="rock-invitation">Ahora, te invito a que vayas al home y sigas explorando la página a tu gusto!</p>
    <a href="/" class="btn btn-primary btn-large">Ir a Inicio</a>
</div>